.layout-container {
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
}

.layout-main-content {
  flex: 1;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

.layout-content {
  padding: 2rem;
  flex: 1;
  min-height: calc(100vh - 80px);
}

